.auth__container {
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.9);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 20;
}
.auth {
  height: auto;
  width: 35rem;
  background-color: var(--form-bg-color);
  padding: 2rem;
  font-size: 1.2rem;
}
.modal_container {
  background-color: var(--modal-body-color);
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}

.auth__container .heading {
  font-size: 1.8rem;
  text-align: center;
  margin-bottom: 2rem;
}

.auth__container .text-field {
  margin: 1rem 0;
  position: relative;
}

.auth__container .form-input {
  margin: 1rem 0;
  padding: 1rem;
  border: none;
  outline: none;
  width: 100%;
  border-bottom: 0.6px solid var(--grey-color);
  background-color: var(--form-bg-color);
}

.text-field label {
  position: absolute;
  left: 5px;
  top: 50%;
  transform: translateY(-50%);
  color: var(--grey-color);
  pointer-events: none;
  transition: 0.5s;
}

.auth__container .form-btn {
  display: block;
  margin: 2rem 0;
  width: 100%;
  font-family: 'Roboto Mono', monospace;
  font-weight: 600;
}

.auth__container .form-btn:hover {
  background-color: var(--form-btn-color);
}

.auth__container #remember {
  margin: 0 0.5rem 0 0;
}

.auth__container .f-pwd {
  position: absolute;
  right: 2rem;
  color: var(--link-color);
}

.text-field span::before {
  content: '';
  position: absolute;
  top: 40px;
  left: 0;
  width: 0;
  height: 1px;
  transition: 0.5s;
}
.text-field input:focus ~ label,
.text-field input:valid ~ label {
  top: -1px;
  color: var(--black-color);
}
.txt_field input:focus ~ span::before,
.text-field input:valid ~ span::before {
  width: 100%;
}

.errMsg {
  background-color: lightpink;
  color: firebrick;
  font-size: 1.25rem;
  font-weight: bold;
  padding: 1rem;
  margin-bottom: 0.5rem;
  border-radius: 0.5rem;
}

.instructions {
  font-size: 1.5rem;
  border-radius: 0.5rem;
  background: #000;
  color: #fff;
  padding: 0.5rem;
  position: relative;
  bottom: 5px;
}

.instructions .icon {
  margin-right: 1rem;
  font-size: 1.75rem;
}

.offscreen {
  position: absolute;
  left: -9999px;
}

.valid {
  color: limegreen;
  margin-left: 0.5rem;
}

.invalid {
  color: red;
  margin-left: 0.5rem;
}

.hide {
  display: none;
}

.disabled {
  opacity: 0.5;
  cursor: default;
}
.disabled:hover {
  background-color: var(--primary-color);
}

.primary-btn {
  padding: 0.8rem 1rem;
  border-radius: 0.6rem;
  border: none;
  background-color: var(--primary-color);
  color: var(--btn-color);
  cursor: pointer;
}
.center {
  text-align: center;
  display: block;
  color: var(--black-color);
}
