.modal {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.808);
  display: grid;
  place-items: center;
  z-index: 2;
  cursor: default;
}

.modal .modal__card {
  background-color: #fff;
  padding: 1rem 1.5rem;
  z-index: 3;
  width: 24rem;
}

.modal__card .modal__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal .modal__card > * {
  margin: 0.25rem 0;
}

.modal__form,
.input-group {
  display: flex;
  flex-direction: column;
}

.modal button.text-primary {
  text-align: left;
  display: flex;
}

.text-primary i {
  color: var(--primary-color);
}

.text-primary h2 {
  color: var(--primary-color);
  text-align: center;
}

.modal .bi {
  font-size: 2rem;
  cursor: pointer;
}

.modal button {
  all: unset;
  text-align: center;
  cursor: pointer;
  border: none;
}

.modal__form h2 {
  display: inline;
  margin: 0.3rem 0 0 0.5rem;
  font-weight: 400;
}

.modal h1 {
  margin: 0;
}

.modal__placeholder {
  font-size: 1.5rem;
  margin: 0;
  color: var(--grey-color);
  text-align: left;
}

.text-primary input {
  width: 95%;
  padding: 0.7rem;
  border: 1.5px solid var(--primary-color);
  outline: none;
}

.text-primary input:focus {
  border: 2px solid var(--primary-color);
}

.modal__input {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0.2rem 0;
}

.modal__input ul {
  list-style: none;
}

.modal__input li {
  padding: 0;
}

.modal__input label {
  font-size: 1.6rem;
  margin-left: 0.5rem;
}

input[type='checkbox'] {
  accent-color: var(--primary-color);
  font: inherit;
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
  accent-color: var(--primary-color);
}
